.crypto-container {
  min-height: 50vh;
  margin: 0 10rem;
}

.select-container {
  margin: 1rem 0;
}

.select-container button,
#show-rows {
  border: none;
  margin: 5px;
  padding: 5px 1rem;
  border-radius: 8px;
  background-color: #eff2f5;
  color: #5b667c;
}

#show-rows {
  padding: 5px;
  color: black;
}

.select-container label {
  color: #5b667c;
}

.select-container button.selected {
  color: #3861fb;
}

@media only screen and (max-width: 1500px) {
  .crypto-container {
    margin: 0 7rem;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  .crypto-container {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .crypto-container {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .crypto-container {
    margin: 0;
  }
}
