.portfolios {
  display: flex;
  margin: 2rem 0 0 8rem;
  background: linear-gradient(
    180deg,
    #f8fafc 0%,
    rgba(248, 250, 252, 0) 170.94%
  );
  position: relative;
  max-width: 78rem;
}

.nav-portfolio {
  position: absolute;
  margin-top: 3.2rem;
  color: #a8b0c1;
}

.fa-chevron-circle-left {
  left: -1.5rem;
}

.fa-chevron-circle-right {
  right: -1.5rem;
}

@media only screen and (max-width: 850px) {
  .portfolios {
    left: 6rem;
  }
}

@media only screen and (max-width: 700px) {
  .portfolios {
    left: 0rem;
  }
}

@media only screen and (max-width: 550px) {
  .portfolios {
    left: -2.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .portfolios {
    left: -3.2rem;
  }
}
