.portfolios {
  display: flex;
  position: absolute;
  top: 4.5rem;
  left: 7rem;
  background: linear-gradient(
    180deg,
    #f8fafc 0%,
    rgba(248, 250, 252, 0) 170.94%
  );
}

.nav-portfolio {
  position: absolute;
  top: 3.2rem;
  color: #a8b0c1;
}

.fa-chevron-circle-left {
  left: -1.5rem;
}

.fa-chevron-circle-right {
  position: absolute;
  right: -1.5rem;
}

@media only screen and (max-width: 850px) {
  .portfolios {
    left: 14rem;
  }
}

@media only screen and (max-width: 700px) {
  .portfolios {
    left: 10rem;
  }
}

@media only screen and (max-width: 550px) {
  .portfolios {
    left: 4rem;
  }
}
