.navbar {
  height: 6vh;
  padding: 8px;
  box-shadow: 0px 1.4773707389831543px 17.72844696044922px 4.432111740112305px
    #d0d6e34d;
}

.navbar span,
.navbar i,
.navbar img {
  margin: 0 8px;
}

.company-logo {
  width: 10rem;
}

.company-logo img {
  height: 70%;
}

.company-logo,
.icons {
  margin: 0 10rem;
}
