.crypto-list {
  /* min-height: 100vh; */
  font-size: 0.8em;
  position: relative;
}

.headings {
  display: flex;
  margin: 8px 0 8px 4.2rem;
  width: 70rem;
}

.table {
  margin: 0 1rem;
}

.fa-star {
  color: lightgray;
}

.up {
  color: green;
}

.down {
  color: red;
}

.market-rank,
.favorite {
  display: inline-block;
  width: 3rem;
}

.fa-ellipsis-v {
  color: gray;
}

.crypto-data {
  display: inline-block;
  min-width: 11rem;
  padding: 5px 0;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.crypto-data img {
  height: 13px;
  margin: 0px 5px 0 0;
}

.fa-caret-up {
  position: relative;
  right: 5px;
}

.symbol {
  color: #808a9d;
}

.lastTwentyFourHours,
.lastSevenDays,
.price {
  min-width: 6rem;
}

.fa-circle-notch {
  position: absolute;
  color: gray;
  top: 30vh;
  left: 40vw;
}

.line {
  padding: 2px;
  border: none;
  position: absolute;
  margin-top: 2px;
}

.outerline {
  width: 8rem;
  background-color: #eff2f5;
}

.innerline {
  width: 6rem;
  background-color: #cfd6e4;
}

.row-line {
  background-color: #eff2f5;
  border: none;
  height: 1px;
  margin: 1rem 0;
}

.pages {
  margin: 1rem 0;
  position: absolute;
  right: 0;
  padding-bottom: 2rem;
}

.pages button {
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 22px;
  margin-right: 5px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  /* z-index: 1; */
}

.pages button:hover {
  border: 1px solid #0052fe;
}

#disabled {
  background: #919eab;
  opacity: 0.5;
  color: white;
}

#notDisabled {
  color: #919eab;
}

.row {
  width: 70rem;
}

@media only screen and (max-width: 1150px) {
  .crypto-data {
    display: inline-block;
    padding: 2px 0;
  }
  .lastTwentyFourHours,
  .lastSevenDays,
  .price {
    min-width: 5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .crypto-data {
    display: inline-block;
    padding: 2px 0;
  }
  .lastTwentyFourHours,
  .lastSevenDays,
  .price {
    min-width: 5rem;
  }
}
