* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.cryptoCurrency {
  margin-top: 25vh;
}

.heading {
  margin: 0 10rem;
}

/* #App {
  min-height: 100vh;
  width: 100vw;
} */

@media only screen and (max-width: 1150px) {
  /* .cryptoCurrency {
    overflow: hidden;
  } */
}
/* 
@media only screen and (max-width: 1000px) {
  .heading {
    margin: 0 8rem;
  }
} */

@media only screen and (max-width: 1500px) {
  .heading {
    margin: 0 7rem;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  .heading {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .heading {
    margin: 0 1rem;
  }
}
