* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.cryptoCurrency {
  margin-top: 3rem;
}

.heading {
  margin: 0 10rem;
}

.container {
  min-height: 100vh;
  width: 98vw;
  /* overflow: hidden; */
}

#App {
  height: auto;
  width: auto;
}

@media only screen and (max-width: 1500px) {
  .heading {
    margin: 0 7rem;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  .heading {
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .heading {
    margin: 0 1rem;
  }
}
